In [6]:
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession

In [7]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [9]:
sc = create_spark_session()
sqlContext = SQLContext(sc)

In [11]:
# To read multiple files
user_df = sqlContext.read.parquet('./users')
print(f'user_df TYPE: {type(user_df)}')
user_df.head(10)

user_df TYPE: <class 'pyspark.sql.dataframe.DataFrame'>

[Row(userId='26', firstName='Ryan', lastName='Smith', gender='M', level='free'),
 Row(userId='26', firstName='Ryan', lastName='Smith', gender='M', level='free'),
 Row(userId='26', firstName='Ryan', lastName='Smith', gender='M', level='free'),
 Row(userId='9', firstName='Wyatt', lastName='Scott', gender='M', level='free'),
 Row(userId='12', firstName='Austin', lastName='Rosales', gender='M', level='free'),
 Row(userId='61', firstName='Samuel', lastName='Gonzalez', gender='M', level='free'),
 Row(userId='61', firstName='Samuel', lastName='Gonzalez', gender='M', level='free'),
 Row(userId='', firstName=None, lastName=None, gender=None, level='paid'),
 Row(userId='80', firstName='Tegan', lastName='Levine', gender='F', level='paid'),
 Row(userId='80', firstName='Tegan', lastName='Levine', gender='F', level='paid')]

In [21]:
# Count number of free & paid users
user_df.createOrReplaceTempView("user_subscription_type_table")
free_count = sc.sql("select count(DISTINCT(userId)) from user_subscription_type_table where level = 'free'").collect()
paid_count = sc.sql("select count(DISTINCT(userId)) from user_subscription_type_table where level = 'paid'").collect()
print(f'Total no of users in respective groups are {free_count} free subscribers & {paid_count} paid subscribers.')

Total no of users in respective groups are [Row(count(DISTINCT userId)=84)] free subscribers & [Row(count(DISTINCT userId)=23)] paid subscribers.

In [23]:
artist_df = sqlContext.read.parquet('./artists')
print(f'artist_df TYPE: {type(artist_df)} - {artist_df.count()} records')
artist_df.show()

artist_df TYPE: <class 'pyspark.sql.dataframe.DataFrame'> - 11 records
+------------------+--------------------+--------------------+---------------+----------------+
|         artist_id|         artist_name|     artist_location|artist_latitude|artist_longitude|
+------------------+--------------------+--------------------+---------------+----------------+
|ARKFYS91187B98E58F|Jeff And Sheri Ea...|                    |           null|            null|
|AR10USD1187B99F3F1|Tweeterfriendly M...|Burlington, Ontar...|           null|            null|
|ARGSJW91187B9B1D6B|        JennyAnyKind|      North Carolina|       35.21962|       -80.01955|
|ARMJAGH1187FB546F3|        The Box Tops|         Memphis, TN|       35.14968|       -90.04892|
|AR7G5I41187FB4CE6C|            Adam Ant|     London, England|           null|            null|
|ARD7TVE1187B99BFB1|              Casual|     California - LA|           null|            null|
|ARNTLGG11E2835DDB9|                 Clp|                    |           null|            null|
|ARD0S291187B9B7BF5|             Rated R|                Ohio|           null|            null|
|ARKRRTF1187B9984DA|    Sonora Santanera|                    |           null|            null|
|AR8ZCNI1187B9A069B|    Planet P Project|                    |           null|            null|
|ARXR32B1187FB57099|                 Gob|                    |           null|            null|
+------------------+--------------------+--------------------+---------------+----------------+